---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<CONGRESS_API_KEY>&%7B:query=%3E%22Deadpool%22%7D%5Bquery%5D=Deadpool
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 0b5947bc31aeddd8f20b6f446a3fa89e
      X-Memc-Age:
      - '20654'
      X-Memc-Expires:
      - '2973'
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Sun, 25 Aug 2024 20:05:04 GMT
recorded_with: VCR 6.2.0
