---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<CONGRESS_API_KEY>&query=Deadpool
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 22b2ea9c5fda5a590b66bea5b1e64a47
      X-Memc-Age:
      - '18511'
      X-Memc-Expires:
      - '3704'
      Etag:
      - W/"c52785b9e8fb209a9f2012e2ba7d2282"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/en971MEXui9diirXlogOrPKmsEn.jpg","genre_ids":[28,12,35],"id":293660,"original_language":"en","original_title":"Deadpool","overview":"The
        origin story of former Special Forces operative turned mercenary Wade Wilson,
        who, after being subjected to a rogue experiment that leaves him with accelerated
        healing powers, adopts the alter ego Deadpool. Armed with his new abilities
        and a dark, twisted sense of humor, Deadpool hunts down the man who nearly
        destroyed his life.","popularity":343.484,"poster_path":"/3E53WEZJqP6aM84D8CckXx4pIHw.jpg","release_date":"2016-02-09","title":"Deadpool","video":false,"vote_average":7.62,"vote_count":30560},{"adult":false,"backdrop_path":"/yDHYTfA3R0jFYba16jBB1ef8oIt.jpg","genre_ids":[28,35,878],"id":533535,"original_language":"en","original_title":"Deadpool
        \u0026 Wolverine","overview":"A listless Wade Wilson toils away in civilian
        life with his days as the morally flexible mercenary, Deadpool, behind him.
        But when his homeworld faces an existential threat, Wade must reluctantly
        suit-up again with an even more reluctant Wolverine.","popularity":5845.013,"post[...]
